$hover-button-in: 0 0 0 6rem rgba(color(primary), .10);
$hover-button-out: 0 0 0 0 rgba(color(primary),.10);

.home-text{
	h1{ margin: 1rem auto 1.5rem auto; }  
	flex-basis: 30%;

	p{
		margin: 0 auto;
	    max-width: 400px; 

		@include breakpoint(large){  
			max-width: initial;
			margin: initial;
		}
	}

}

.home-button-container{
	display: flex;
	justify-content: flex-end; 

	&__button{ 
			margin: 0 auto;
			cursor: pointer;
			background: white;
			border-radius: 50%; 	
			width: 15rem;
			height: 15rem;

			@include breakpoint(medium){  
				width: 24.2rem;
				height: 24.2rem; 
			}
			@include breakpoint(large){ 
				margin: 0;
				width: 27rem;
				height: 27rem; 
			}

			display: flex;
			align-items: center;
			justify-content: center; 		
			animation: pulseOut 0.2s;  	

			&:hover, 
			&:focus { 
				animation: pulseIn 0.4s;
				box-shadow: $hover-button-in;
			}
			h4{ color: color(black); } 
	}

}
 

@keyframes pulseIn {
	from { 
		box-shadow: $hover-button-out;
	}
	to {
		box-shadow: $hover-button-in;
	}
} 
@keyframes pulseOut {
	from { 
		box-shadow: $hover-button-in;
	}
	to {
		box-shadow: $hover-button-out;
	}
} 