@import "abstracts/breakpoints";
@import "abstracts/colors";
@import "abstracts/breakpoints";

@import "base/typography";

@import "components/Header";

@import "pages/crew";
@import "pages/destination";
@import "pages/home";
@import "pages/technology";

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center; 
  height: 90%;
  overflow-y: auto;   
  padding: 0 3rem 0 3rem; 

  @include breakpoint(large) { 
    height: 80%; 
    padding: 6rem 5rem 0 5rem; 
  }

  .main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    overflow-y: auto; 

    @include breakpoint(large) { 
      align-items: flex-end; 
      max-width: none;
      flex-direction: row;
    }

    &.home{ 
      height: 100%;
      padding-bottom: 4rem;  

      @include breakpoint(large) { 
        padding-bottom: 10rem; 
        max-width: initial;  
      }
    }
  } 
 

  @include breakpoint(large) {
    text-align: left;
  }
}
